* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-color: rgb(25, 25, 25);
    padding: 40px;
}

.header-content{
    font-family: Courier, Arial, sans-serif;
    color: #dcdcdc;
    max-width: 960px; 
    margin: 0 auto;
    text-align: left;
}

nav {
    font-family: Helvetica, Arial, sans-serif; 
    line-height: 1.6;
    color: #333; 
    background-color: #e0e0e0; 
    padding: 50px;
}